* {
   margin: 0;
   padding: 0;
}

.my-image {
   background-image: url("bg.jpg");
   background-color: #070202;
   height: 700px;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   z-index: -1;
   opacity: .9;
}

/*navbar*/
.navbar {
   display: flex;
   justify-content: center;
   background-color: rgb(0, 0, 0, 0.7);

}

.navbar ul {
   display: flex;
   list-style: none;
   height: 50px;
   align-items: center;
   position: relative;
}

.navbar::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
}

.navbar ul li {
   font-size: 1.1rem;
}

.navbar ul li a {
   padding: 5px 20px;
   text-decoration: none;
   color: white;
}

.navbar ul li a:hover {
   border-bottom: 2px solid yellowgreen;
}

/*section*/
#home {
   display: flex;
   flex-direction: column;
   height: 700px;
   justify-content: center;
   align-items: center;
   color: white;
}

.heading {
   color: white;
   font-size: 3rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
}

/*education*/
#Education {
   display: flex;
   flex-direction: column;
   background-color: rgb(0, 0, 0, 0.3);
   height: 700px;
   padding-left: 120px;

}

#Education h1 {
   margin: 30px;
}

.columns {
   display: flex;

}

.box {
   height: 200px;
   width: 1000px;
   border-radius: 20px;
   margin: 10px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;

}

.box h2 {
   color: yellowgreen;
   font-size: 2rem;
   margin-bottom: 20px;
}

.box p img {
   height: 80px;
   width: 80px;
   padding-left: 380px;
}


/*about*/
#about {
   display: flex;
   flex-direction: column;
   height: 700px;

}

#about h1 {
   margin: 55px;
   color: rgb(17, 16, 17);
   justify-content: center;
   font-family: 'Times New Roman', Times, serif;

}

.about {
   display: flex;
}

.about img {
   width: 500px;
   height: 400px;
   padding: 0px 30px;
}

.myself {
   padding: 10px;
}

.myself h2 {
   font-size: 3rem;
}

.myself p {
   font-size: 1.5rem;
   font-family: 'Times New Roman', Times, serif;

}

/*contact*/
#contact {
   padding-left: 20px;
   background-color: rgb(0, 0, 0, 0.7);
   color: white;
}

.contact-left p {
   margin-top: 10px;
   color: white;
}

.contact-left p i {
   color: white;
   margin-right: 15px;
   font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.icons img {

   padding: 5px;
   width: 10pxpx;
   height: 50px;


}